# ignore settings so we don't accidently commit an API key
settings.cfg
# don't need to commit any cache files or compiled files either
*.cache
*.pyc
# other files, we don't need
*~
.directory
*.wpr
*.wpu
*.bak
.tox
build
dist
MANIFEST
_build
